# =========================
# Python / Virtual env
# =========================
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

.venv/
venv/
ENV/
env/

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# OS / IDE
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Data (NÃO versionar)
# =========================
data/raw/
data/processed/
data/interim/

# =========================
# Model artifacts
# =========================
*.joblib
*.pkl
*.pickle
models/
app/model/

# =========================
# Secrets
# =========================
.env
.env.*
